/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /* Smooth scrolling */
}

.navbar {
  position: fixed;
  top: 0;
  height: 10%;
  width: 100%;
  background-color: rgba(45, 126, 221);
  padding: 1em;
  z-index: 1000;
  overflow-x: auto; /* Make the navbar scrollable horizontally */
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
}

.navbar ul li a:hover {
  background-color: rgb(159, 185, 239);;
  border-radius: 5px;
}

.section {
  margin-top: 60px;
  /* Adjust to prevent content from hiding behind the navbar */
}

/* #home { background-color: #f1f1f1; }
#services { background-color: #e2e2e2; }
#dashboard { background-color: #d3d3d3; }
#contact { background-color: #c4c4c4; }
#about { background-color: #b5b5b5; } */
