body{
  scroll-behavior: smooth; /* Smooth scrolling */
  overflow-x: hidden; /* Prevent horizontal scroll */
}
/* services */
.topcount{
  text-align: center;
  h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  button{
    margin: 30px 0px 90px 15px ;
    width: 120px;
    background-color: rgba(45, 126, 221, 1);
    height: 40px;
    border-radius: 8px;
    font-weight: bold;
  }
  input{
    background-color: rgb(177, 177, 177);
    border-radius: 10px;
    margin-right: 15px;
  }
}

.lowercount{
  text-align: center;
  h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  button{
    margin: 30px 0px 90px 15px ;
    width: 120px;
    background-color: rgba(45, 126, 221, 1);
    height: 40px;
    border-radius: 8px;
    font-weight: bold;
  }
  input{
    background-color: rgb(177, 177, 177);
    border-radius: 10px;
    margin-right: 15px;
  }
}
.analyzebtn{
    margin: 0px 0px 50px 700px ;
    width: 120px;
    background-color: rgba(45, 126, 221, 1);
    height: 40px;
    border-radius: 8px;
    font-weight: bold;
}

.homeOuter{
  padding-top: 40px;
}

/* First Component */
.Fouter{
  margin-top: 7%;
  height: 336px;
  width: 1440px;
}
.flogo{
  width: 400px;
  img{
    margin-left: 70px;
  }
}
.ftext{
  /* background-color: aliceblue; */
  padding-left: 160px;
  align-items: center;
  /* width: 600px; */
  margin-top: 30px;
  h1{
    font-size: 40px;
    font-weight: bold;
    align-items: center;
  }
  .firsth1{
    margin-bottom: 25px;
  }
  p{
    margin-bottom: 30px;
  }
}
.button-link{
  button{
    width: 150px;
    background-color: rgba(45, 126, 221, 1);
    height: 40px;
    border-radius: 8px;
    align-items: center;
    font-weight: bold;
  }
}

/* Dashboard */
.dashouter{
  height: 356px;
  padding: 3.5%;
}
.dashtitle{
  font-size: 40px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 40px;
}
.dashcompo{
  display: flex;
  justify-content: space-evenly;

  div{
    width: 540px;
    height: 124px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
  }
  h1{
    font-size: 26px;
    font-weight: bold;
  }
  p{
    color: rgba(0, 0, 0, 0.5);
  }
}

.scrollable {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Contact */
.contactmain{
  height: 600px;
  img{
    width: 1001px;
    height: 447px;
    margin-left: 265px;
  }
}
.contacttext{
  display: flex;
  justify-content: center;
  a{
    margin: 25px;
    margin-top: 60px;
  }
}

.section {
  padding-top: 60px; 
  margin-top: -60px; 
}

